<% include partials/header %>
	<h2>Add Customer</h2>

	<% if(errors) { %>
		<ul>
		<% errors.forEach((error)=>{ %>
			<li>error.msg</li>
		<% }); %>
		</ul>
	<% } %>

	<form class="" action="/users/add" method="post">
		<label for="">First Name</label><br>
		<input type="text" name="first_name" value="">
		<br>
		<label for="">Last Name</label><br>
		<input type="text" name="last_name" value="">
		<br>
		<label for="">email</label><br>
		<input type="text" name="email" value="">
		<br><br>
		<input type="submit" name="" value="Submit">
	</form>
	<hr>
	<h2>Customers</h2>
	<ul>
	<% users.forEach((user)=>{ %>
		<li>
			<%= user.first_name%>
			<%= user.last_name %> ---
			<!-- <%= user._id %> -->
			<a data-id='<%=user._id%>' class="deleteUser" href="#">Delete</a>
		</li>
	<% }) %>
	</ul>

<% include partials/footer %>
